/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 29, 2019, 9:40:59 AM
    Author     : MARINA
*/

input.transparent-input{
    background-color:rgba(0,0,0,0) !important;
    border:none !important;
}

select.transparent-input{
    background-color:rgba(0,0,0,0) !important;
    border:none !important;
}